.blog-item__title {
  margin: 0;
  margin-bottom: 32px;
  max-width: 204px;
  font-family: 'Neue Machina';
  font-weight: 400;
  font-size: 40px;
  line-height: 1;
  letter-spacing: -0.01em;
  color: #242424;
}
