.link {
  width: 178px;
  height: 31px;
  /* display: flex; */
  /* justify-content: center; */
  text-decoration: none;
  font-family: 'Formular';
  font-size: 16px;
  font-weight: 300;
  line-height: .88;
  color: #242424;
  padding: 8px 12px 10px 0;
  border-left: 1px solid #242424;
  border-bottom: 1px solid #242424;
  text-align: center;
  box-sizing: border-box;
}

/* разобраться с паддингом и позиционированием */
