.partners__title {
  margin: 107px auto 15px 60px;
  font-family: 'Neue Machina';
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 1.14;
  letter-spacing: -0.01em;
  color: #242424;
}
