.cards__title {
  max-width: 640px;
  padding: 0;
  margin: 61px 0 0 440px;
  font-family: 'Neue Machina';
  font-size: 64px;
  font-weight: normal;
  line-height: .94;
  letter-spacing: -0.01em;
  color: #242424;
}
