.video__subtitle {
  margin: 0 auto 14px 210px;
  max-width: 432px;
  font-family: 'Formular';
  font-weight: 300;
  font-size: 20px;
  line-height: 1.4;
  letter-spacing: -0.01em;
  font-feature-settings: 'ss01' on;
  color: #242424;
}
